<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Numbers</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/40fd1bd135.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/pages.css">
</head> 

<body>
  {% include "partials/header.njk" %}
  {{ content | safe }}
  {% include "partials/footer.njk" %} 
</body>

</html>