{% extends "partials/layout.html" %}

{% set pageId = "page-index" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

<!-- body starts here -->
{% block content %}

    {% include "partials/header.html" %}

    <main>
        <p>Selecione uma das categorias no menu de navegação acima.</p>
        <br>
        <strong>Aleatório</strong>:<p> Gerador de  números aleatórios. Possível definir os seguintes parâmetros:</p>
        <ul>
            <li>valores mínimo e máximo</li>
            <li>quantidade de números gerados</li>
        </ul><br>
        <p>Com as seguintes opções:</p>
        <ul>
            <li>em ordem crescente, decrescente, ou aleatória</li>
            <li>com ou sem repetição</li>
            <li>desconsiderar números específicos</li>
        </ul>
        <br><br>
        <strong>Timer</strong>:<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Saepe obcaecati repudiandae praesentium consectetur assumenda mollitia fugiat, doloremque odit, 
        necessitatibus at quaerat eaque aut rerum odio explicabo cumque aperiam maxime hic!
        <br><br>
        <strong>Conversor</strong>:<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Saepe obcaecati repudiandae praesentium consectetur assumenda mollitia fugiat, doloremque odit, 
        necessitatibus at quaerat eaque aut rerum odio explicabo cumque aperiam maxime hic! 
    </main>

    {% include "partials/footer.html" %}

{% endblock content %}

<!-- {% block modal %}
{% endblock modal %}

{% block scripts %}
{% endblock scripts %} -->

<!-- body ends here -->