{% extends "partials/layout.html" %}

{% set pageId = "page-index" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

<!-- body starts here -->
{% block content %}

    {% include "partials/header.html" %}

    <main>
        <p>Selecione uma das categorias no menu de navegação acima.
        <br><br>
        <strong>Dados</strong>:<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Saepe obcaecati repudiandae praesentium consectetur assumenda mollitia fugiat, doloremque odit, 
        necessitatibus at quaerat eaque aut rerum odio explicabo cumque aperiam maxime hic!
        <br><br><strong>Timer</strong>:<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Saepe obcaecati repudiandae praesentium consectetur assumenda mollitia fugiat, doloremque odit, 
        necessitatibus at quaerat eaque aut rerum odio explicabo cumque aperiam maxime hic!
        <br><br><strong>Conversor</strong>:<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Saepe obcaecati repudiandae praesentium consectetur assumenda mollitia fugiat, doloremque odit, 
        necessitatibus at quaerat eaque aut rerum odio explicabo cumque aperiam maxime hic! 
    </main>

    {% include "partials/footer.html" %}

{% endblock content %}

<!-- {% block modal %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %} -->

<!-- body ends here -->