<header>
    <div id="headertitle">
        <h1>Numbers</h1>
        {% if back %}
            <a href="/">
                {# <span></span> #}
                <i class="far fa-arrow-alt-circle-left fa-lg" style="color:black"></i>
                <div id="backtext">Voltar para home</div></a>         
        {% endif %}
    </div>

    <nav id="navbar">
        <ul>
            <li><a href="/random">
                <i class="fas fa-dice-d6 fa-2x" style="color:black"></i>Aleatório</a></li>
            <li><a href="/timer">
                <i class="fas fa-stopwatch fa-2x" style="color:black"></i>Timer</a></li>
            <li><a href="/units">
                <i class="fas fa-retweet fa-2x" style="color:black"></i>Conversor</a></li>
        </ul>
    </nav>
</header>