<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    {% block title %}
        <title>Numbers</title>
    {% endblock title %}

    {# Google fonts #}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
    
    {# fontawesome #}
    <script src="https://kit.fontawesome.com/40fd1bd135.js" crossorigin="anonymous"></script>
    
    {# stylesheets #}
    <link rel="stylesheet" href="/styles/layout.css">
    {% block styles %}
    {% endblock styles %}    
    <link rel="stylesheet" href="/styles/responsive.css">
</head> 

<body>
    
    <div id="{{ pageId }}">
        {% block content %}    
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>