<header>
  <h2><a href="/">Numbers</a></h2>      
  <nav class="navbar">
    <ul>
      <li><a href="/random">
        <i class="fas fa-dice-d6"></i>Random</a></li>
      <li><a href="/timer">
        <i class="fas fa-stopwatch"></i>Time</a></li>
      <li><a href="/units">
        <i class="fas fa-retweet"></i>Units</a></li>
    </ul>
  </nav>
</header>