#page-timer {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* need this to adjust footer always at bottom */
    border-right: 2px solid var(--hfb-color); 
    border-left: 2px solid var(--hfb-color); 
}

#page-timer main {
    padding: 24px; 
}

.hms-container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.hms-container label {
    margin-bottom: 4px;
}

.hms-container input {
    width: 56px;
    min-height: 56px;
    border-radius: 8px;
    border: 1px solid var(--hfb-color);
    background-color: white; 
    font-size: 40px;
    font-family: Roboto;
    margin-bottom: 8px;
    text-align: center;
}

.msg-container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    color: red;
    font-size: 12px;
}

.default {
    color: inherit;
    font-size: 24px;
}