#page-timer {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* need this to adjust footer always at bottom */
    border-right: 2px solid var(--hfb-color); 
    border-left: 2px solid var(--hfb-color); 
}

main {
    padding: 32px 24px; 
}