#page-contact {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* need this to adjust footer always at bottom */
    border-right: 2px solid var(--hfb-color); 
    border-left: 2px solid var(--hfb-color); 
}

form > div { /* modifies all divs, children of form */
    margin: 8px 0;
}

.field {
    display: block;
}

.field label {
    display: flex;
    padding-bottom: 4px;
}

input[type="text"], input[type="email"], textarea {
    padding: 8px;
    width: 100%;
}