#page-random {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* need this to adjust footer always at bottom */
    border-right: 2px solid var(--hfb-color); 
    border-left: 2px solid var(--hfb-color); 
}

#page-random main {
    padding: 24px; 
}

.items-container {
    display: flex;
    flex-direction: column; 
    font-weight: bold;
}

.items-container label {
    margin-bottom: 4px;
}

.items-container input {
    width: 56px;
    min-height: 56px;
    border-radius: 8px;
    border: 1px solid var(--hfb-color);
    background-color: white; 
    font-size: 40px;
    font-family: Roboto;
    margin-bottom: 8px;
    text-align: center;
}

.subitems-container {
    margin: 0 auto;
    max-width: 200px;
    display: flex;
}

.group-container {
    display: flex;
    flex-direction: column;
}

.group-container + .group-container{
margin-left: 8px;
}

#exclinput {
    width: 100px;
    border-radius: 8px;
    border: 1px solid var(--hfb-color);
    background-color: white; 
    font-family: Roboto;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.options-container {
    padding: 4px;
}

.options-container input + label{
    margin-left: 4px;
}

.options-container span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.results-container #results {
    margin-top: 8px;
}
