@media (min-width: 560px) {

    /* layout */
    body {
        text-align: left;
    }

    /* header */
    #headertitle {
        margin-bottom: 16px;
        justify-content: flex-start;
    }

    #backtext {
        display: block;
        font-size: 12px;
        margin-left: 8px;
    }

    #navbar ul {
        display: flex;
    }
    /* same to apply display: inline block in children 
    #navbar li {
        display: inline-block    
    */

    #navbar a {
        margin-right: 32px;
        padding: 0;
    }

    .buttons-container,
    .options-container,
    .results-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .options-container label {
        margin-left: 4px;
    }

    .options-container span{
        margin-right: 12px;
    }

    /* footer */
    footer {
        font-size: 16px;
    }

    /* index */

    /* contact */
    #page-contact main {
        padding: 32px 80px;
    }

    .field {
        display: flex;
    }
    
    .field label {
        width: 110px;
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }

    .field input[type="text"], input[type="email"], textarea {
        padding: 10px;
        width: 400px;
    }

    /* timer */ /* dice */
    #timer-container,
    #random-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .hms-container,
    .items-container {
        min-width: 72px;
        margin-right: 16px;
        align-items: center;
    }
}

@media (min-width: 800px) {

    /* layout */
    body {
        max-width: 1000px;
        width: 90vw;
        margin: 0 auto;
    }

    /* contact */
    #headertitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #headertitle a {
        position: unset;
    }

    #page-contact main {
        padding: 32px 144px;
    }
} 