---
layout: base
permalink: /
---

<link rel="stylesheet" href="/static/css/index.css">
<main class="index">
  <p>Random:</p>
  <p>Generate random numbers with some parameters:</p>
  <ul>
    <li>minimum and maximum values</li>
    <li>quantity</li>
  </ul><br>
  <p>With the following options:</p>
  <ul>
    <li>random, ascending, or descending order</li>
    <li>with or without repetition</li>
    <li>exclude numbers</li>
  </ul>
  <br><br>
  <p>Time:</p>
  <ul>
    <li>Timer</li>
    <li>Stop Watch</li>
  </ul>
  <br><br>
  Conversor:
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
  Saepe obcaecati repudiandae praesentium consectetur assumenda mollitia fugiat, doloremque odit, 
  necessitatibus at quaerat eaque aut rerum odio explicabo cumque aperiam maxime hic!</p>
</main>